<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Create a meeting for your group" />

    <title>Create Your Meeting</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/meetingMaker.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <script src="/meetingMaker.js" defer></script>
<!--     <script src="/scriptsCombined.js" defer></script> -->
  </head>
  <body>
    <header id="home" onclick="callHome()">
      WeMeet
    </header>

    <main>
      <h1>
        Create Schedule
      </h1>

      <form>
        <div class="weekDays-selector">
          <h3>
            Select days of the week
          </h3>

          <input type="checkbox" id="weekday-sun" class="weekday" />
          <label for="weekday-sun">S</label>

          <input
            type="checkbox"
            id="weekday-mon"
            name="checkbox"
            class="weekday"
          />
          <label for="weekday-mon">M</label>

          <input type="checkbox" id="weekday-tue" class="weekday" />
          <label for="weekday-tue">T</label>

          <input type="checkbox" id="weekday-wed" class="weekday" />
          <label for="weekday-wed">W</label>

          <input type="checkbox" id="weekday-thu" class="weekday" />
          <label for="weekday-thu">R</label>

          <input type="checkbox" id="weekday-fri" class="weekday" />
          <label for="weekday-fri">F</label>

          <input type="checkbox" id="weekday-sat" class="weekday" />
          <label for="weekday-sat">S</label>
        </div>

        <div>
          <h3>
            Select times of day
          </h3>
          <label for="startTime">Start time: </label>
          <select name="start" id="startTime">
            <option value="0">12 AM</option>
            <option value="1">1 AM</option>
            <option value="2">2 AM</option>
            <option value="3">3 AM</option>
            <option value="4">4 AM</option>
            <option value="5">5 AM</option>
            <option value="6">6 AM</option>
            <option value="7">7 AM</option>
            <option value="8">8 AM</option>
            <option value="9" selected>9 AM</option>
            <option value="10">10 AM</option>
            <option value="11">11 AM</option>
            <option value="12">12 PM</option>
            <option value="13">1 PM</option>
            <option value="14">2 PM</option>
            <option value="15">3 PM</option>
            <option value="16">4 PM</option>
            <option value="17">5 PM</option>
            <option value="18">6 PM</option>
            <option value="19">7 PM</option>
            <option value="20">8 PM</option>
            <option value="21">9 PM</option>
            <option value="22">10 PM</option>
            <option value="23">11 PM</option>
          </select>

          <label for="endTime">End time: </label>
          <select name="end" id="endTime">
            <option value="0">12 AM</option>
            <option value="1">1 AM</option>
            <option value="2">2 AM</option>
            <option value="3">3 AM</option>
            <option value="4">4 AM</option>
            <option value="5">5 AM</option>
            <option value="6">6 AM</option>
            <option value="7">7 AM</option>
            <option value="8">8 AM</option>
            <option value="9">9 AM</option>
            <option value="10">10 AM</option>
            <option value="11">11 AM</option>
            <option value="12">12 PM</option>
            <option value="13">1 PM</option>
            <option value="14">2 PM</option>
            <option value="15">3 PM</option>
            <option value="16">4 PM</option>
            <option value="17" selected>5 PM</option>
            <option value="18">6 PM</option>
            <option value="19">7 PM</option>
            <option value="20">8 PM</option>
            <option value="21">9 PM</option>
            <option value="22">10 PM</option>
            <option value="23">11 PM</option>
          </select>
        </div>

        <button type="submit" id="submit-meeting" onclick="callToMaker()">
          Create
        </button>
      </form>
    </main>
  </body>
</html>
